<div class="container">
<div class="d-flex flex-column">
  <h1><%= @task.title  %> </h1>
  <p2><%= @task.details %> </p2>
  <% if @task.completed == true %>
   <i class="fas fa-check-square"> Completed</i>
    <% else %>
    <i class="far fa-square"> Completed</i>
  <% end %>
</div>
  <%= link_to "Back to List", tasks_path, class: 'btn btn-primary mt-3' %>
  <%= link_to "Edit Task", edit_task_path(@task), class: 'btn btn-primary mt-3' %>
  <%= link_to "Delete Task", task_path(@task), class: 'btn btn-primary mt-3', method: :delete, data: { confirm: 'Are you sure?' } %>
</div>
